.slider{
    background-color:transparent !important;
    height:100%;
}
.slide-group{
    height:100%;
}
.slide>div{
    height:100%;
}

/* Fix for iOS top panel */
header.bar.bar-nav{
    margin-top:17px;
}
.modal .bar-nav ~ .content{
margin-top: 61px;
    padding-top: 0;
}
.bar-nav ~ .content {
padding-top: 61px;
}
/*end fix*/
.slide{
    padding-bottom:50px;
}