<header class="bar bar-nav">
    <a id="btnBack" class="icon icon-left-nav pull-left"></a>
    <h1 id="serverInfoTitle" class="title">New server</h1>
</header>
<div class="content" style="left:0px">
    <div class="content-padded">
        <label id="lblName" for="txtName">Title:</label><input type="text" id="txtName" value="">
        <label id="lblIP" for="txtIP">Address:</label><input type="text" id="txtIP" value="">
        <label id="lblNamespace" for="txtNamespace">Namespace:</label><input type="text" id="txtNamespace" value="">
        <label id="lblUser" for="txtUser">User:</label><input type="text" id="txtUser" value="">
        <label id="lblPassword" for="txtPassword">Password:</label><input type="password" id="txtPassword" value="">
        <button id="btnSave" class="btn btn-block btn-positive">Save</button>
    </div>
</div>