<header class="bar bar-nav">
    <a id="btnBack" class="icon icon-left-nav pull-left"></a>
    <a id="btnAdd" class="icon icon-plus pull-right"></a>

    <button id="btnDone" class="btn btn-link btn-nav pull-right" style="display: none">Done</button>
    <h1 class="title">Select server</h1>
</header>
<div class="content" style="left:0px">
    <ul id="lstServers" class="table-view">
    </ul>
</div>

<div class="bar bar-standard bar-footer">
    <a id="btnDelete" class="icon icon-trash pull-right"></a>
</div>