/* Запрещаем выделение всего */

*,
body {
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/* кроме */

input,
textarea {
    -moz-user-select: text;
    -o-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}
/* Убираем желтое выделение*/

*,
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    outline: none;
}
header {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}
.content {
    bottom: 50px;
}
.alert {
    text-align: center;
    margin-top: 100px;
}
.slider {
    background-color: transparent !important;
    height: 100%;
}
.slide-group {
    height: 100%;
}
.slide>div {
    height: 100%;
}
.filter {
    width: 40px;
    height: 40px;
    z-index: 10000;
    top: 5px;
    position: absolute;
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
/* Fix for iOS top panel */

header.bar.bar-nav {
    margin-top: 17px;
}
.modal .bar-nav ~ .content {
    margin-top: 61px;
    padding-top: 0;
}
.bar-nav ~ .content {
    margin-top: 61px;
    padding-top:0px;
}
/*end fix*/

.slide {
    /*    padding-bottom:50px;*/
}
nav.bar.bar-tab {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}
nav.bar.bar-tab a.tab-item {
    display: block;
    width: 100%;
}
@media only screen and (orientation: landscape) {
    nav.bar.bar-tab {
        flex-direction: column;
        -webkit-flex-direction: column;
        width: 50px;
        height: 100%;
        left: 0;
        top: 60px;
        border-right: 1px solid #ddd;
    }
    .content {
        bottom: 0;
        left: 50px;
    }
}
.filter-value {
    text-overflow: ellipsis;
    font-size: 70%;
    white-space: nowrap;
    overflow: hidden;
}
.filter-item {
    padding-right: 110px !important;
}
.filter-list-item.active {
    background: #f5f5f5;
}
.data-null {
    white-space: normal;
    text-align: center;
    margin-top: 100px;
}

.dashboard-item {
    padding-right:15px;
    text-overflow: ellipsis;   
}

.dashboard-item.active i{
    color: #428bca;
}
.dashboard-item h3{
    font-size:1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;   
}
.dashboard-item small{
    font-size:0.7em;
}
.content > .table-view:first-child {
margin-top: -1px;
margin-bottom: -1px;
}
.bar-tab{
padding: 2px;
}

#reload {
    position:fixed;
    top:20px;
    left:10px;
    width:20px;
    height:20px;
    z-index:10000;
}
