/* Запрещаем выделение всего */

*,
body {
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/* кроме */
input,
textarea {
    -moz-user-select: text;
    -o-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}
/* Убираем желтое выделение*/
*,
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    outline: none;
}
header {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.title {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 36px;
    padding-right: 36px;
}
.content {
    bottom: 50px;
    /*/overflow-y: auto;*/
    background-color: #ffffff;
}
.alert {
    text-align: center;
    margin-top: 100px;
}
.slider {
    background-color: transparent !important;
    height: 100%;
}
.slide-group {
    height: 100%;
}
.slide>div {
    height: 100%;
    /*padding-bottom: 44px;*/
}

nav.bar.bar-tab {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    background-color: rgb(220,231,241);
}
nav.bar.bar-tab a.tab-item {
    display: block;
    width: 100%;
}
@media only screen and (orientation: landscape) {
    nav.bar.bar-tab {
        flex-direction: column;
        -webkit-flex-direction: column;
        width: 50px;
        height: 100%;
        left: 0;
        top: 43px;
        border-right: 1px solid #ddd;
    }
    .content {
        bottom: 0;
        left: 50px;
    }
    .slide>div {
        height: 100%;
        padding-bottom: 0px;
    }
}


.filter-value {
    text-overflow: ellipsis;
    font-size: 70%;
    white-space: nowrap;
    overflow: hidden;
}
.filter-item {
    padding-right: 110px !important;
}
.filter-list-item.active {
    background: #f5f5f5;
}
.data-null {
    white-space: normal;
    text-align: center;
    margin-top: 100px;
}
.dashboard-item {
    padding-right: 15px;
    text-overflow: ellipsis;
    width: 100%;
}
.dashboard-item.active i {
    color: #428bca;
}
.dashboard-item h3 {
    font-size: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;
}
.dashboard-item small {
    font-size: 0.7em;
}
.content > .table-view:first-child {
    margin-top: -1px;
    margin-bottom: -1px;
}
.bar-tab {
    padding: 2px;
}

.err-msg {
    font-size: large;
}

.loader:before,
.loader:after,
.loader {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    margin: 0em auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    -webkit-animation-delay: 0.16s;
    animation-delay: 0.16s;
    z-index: 1000;
}
.loader:before {
    left: -3.5em;
}
.loader:after {
    left: 3.5em;
    -webkit-animation-delay: 0.32s;
    animation-delay: 0.32s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em rgb(53,107,141);
    }
    40% {
        box-shadow: 0 2.5em 0 0 rgb(53,107,141);
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em rgb(53,107,141);
    }
    40% {
        box-shadow: 0 2.5em 0 0 rgb(53,107,141);
    }
}


.selected-cell {
    background-color: limegreen;
}
.widget-txt-val {
    font-size: xx-large;
    white-space: normal;
    background-color: rgb(220,231,241);
}

/********* color theme ************/
.bar-nav {
    background-color: rgb(53,107,141);
}

.bar > h1 {
    color: #ffffff;
}

.bar-nav > a {
    color: #ffffff;
}

.bar .btn-link {
    color: #ffffff; !important;
}

.bar-tab .tab-item {
    color: rgb(53,107,141);
}
/*
.bar-tab .tab-item .icon {
    color: black;
}
.bar-tab .tab-item .icon~.tab-label{
    color: black;
}*/
/********************************/

.img-logo {
    background: url(/img/logo.svg);
    height: 200px;
    width: 100%;

}

.tab-item-green span {
    color: green; !important;
    text-shadow: 0 0 10px #0F0;
}

.side-slider {
    position: absolute;
    top: 43px;
    left: 100%;
    width: 180px;
    height: 100%;
    background-color: rgb(220,231,241);
    z-index: 1000;

    transition-property: left;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.markets {
    position: absolute;
    bottom: 58px;
    height: 10px;
    width: 100%;
    text-align: center;
    /*opacity: 0.5;*/
}

.circle {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border: 1px solid #788B98;
    display: inline-block;
    margin-left: 1px;

    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.circle-full {
    background-color: rgb(180, 204, 226); !important;
}

@media only screen and (orientation: landscape) {
    .markets {
        bottom: 8px;
    }
}

.table-view-cell-sel{
    background-color:  rgb(220,231,241); !important;
}

/* fix IOS 8 dissapeared header */
/*
header.bar.bar-nav {
    -webkit-transform: translateZ(0);
}
.bar.bar-header-secondary{
    -webkit-transform: translateZ(0);
}
.bar.bar-footer{
    -webkit-transform: translateZ(0);
}*
/
/*********************************/
